{{template "base" .}}

{{define "content"}}
<main>
  <section class="intro">
    <h1>Software Engineer</h1>
    <p>Builder of things.</p>
  </section>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <section class="projects">
    <h2>Projects</h2>
    <ul>
      <li>Terraform</li>
      <li>Pulumi</li>
    </ul>
  </section>
  <button id="clickMeButton">Click Me!</button>
</main>
{{ end }}

{{define "js"}}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.getElementById("clickMeButton");
    button.addEventListener("click", function () {
      alert("Thanks for clicking the button!");
    });
  });
</script>
{{ end }}
