{{template "base" .}}

{{define "content"}}
<main>
  <section class="intro">
    <h1>Software Engineer</h1>
    <p>Builder of things.</p>
  </section>

  <section class="projects">
    <h2>Projects</h2>
    <ul>
      <li>Terraform</li>
      <li>Pulumi</li>
    </ul>
  </section>
</main>
{{ end }}
